body a{
    display: none;
}
.container{
    font-family: 'Work Sans', sans-serif;
    border: 1px solid black;
    border-radius: 15px;
    color: #1ECEFD;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: 125px;

}
.container span{
    padding-top: 10px;
    color: #505355;
}
.container input{
    border-radius: 25px;
    /* width: 50%; */
    padding: 14px;
    border-style: none;
    border: 1px solid #505355;
}
.container textarea{
    border-radius: 25px;
    /* width: 50%; */
    padding: 14px;
    margin-bottom: 20px;
    border-style: none;
    border: 1px solid #505355;
}
.container button{
    border-radius: 25px;
    border: 1px solid #505355;
    background-color: #505355;
    height: 30px;
    margin-bottom: 30px;
    color: #eee;
}
.landingpage{
    font-family: 'Work Sans', sans-serif;
    border: 1px solid black;
    border-radius: 15px;
    color: #505355;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: 125px;
}
.landingpage button{
    border-radius: 25px;
    border: 1px solid #505355;
    background-color: #505355;
    height: 30px;
    margin-bottom: 30px;
    color: #eee;
}
.landingpage img{
    display: flex;
    align-content: center;
    height: 250px;
    width: 300px;
    margin: auto;
}